{% extends 'base.html' %}

{% block title %}
    All Books
{% endblock title %}
    


{% block content %}
    <ul>
        {% for book in books %}
        {% comment %} <li><a href="{% url 'book-detail' book.id %}">{{ book.title }} (Rating: {{ book.rating }})</a></li> {% endcomment %}
        {% comment "Replace url with get_absolute_url" %}{% endcomment %}
        <li><a href="{{ book.get_absolute_url }}">{{ book.title }} (Rating: {{ book.rating }})</a></li>
        {% endfor %}
    </ul>

    <hr>

    <p>Total Number of Books: {{total_number_of_books}}</p>
    <p>Average Rating: {{average_rating.rating__avg}}</p>
{% endblock content %}